{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <header>
        <h1>¿De quién es este Blog?</h1>
        <p>El propietario de este Blog es Antonio Luque Bravo</p>
    </header>

{% endblock %}